public_html/node-red-flow.txt
[{"id":"bffdb954.167598","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a20f66ea.97a748","type":"mqtt out","z":"bffdb954.167598","name":"","topic":"hololens1/output/","qos":"1","retain":"","broker":"d335dc99.dab47","x":430,"y":460,"wires":[]},{"id":"aeb60f00.464b8","type":"mqtt in","z":"bffdb954.167598","name":"","topic":"hololens1/input/","qos":"2","broker":"d335dc99.dab47","x":105,"y":171,"wires":[["ec60c016.916ec","72a146b5.baa848"]]},{"id":"ec60c016.916ec","type":"debug","z":"bffdb954.167598","name":"RAW","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":310,"y":80,"wires":[]},{"id":"fbd6242e.93e618","type":"json","z":"bffdb954.167598","name":"","property":"payload","action":"","pretty":false,"x":410,"y":160,"wires":[["c5f7a3ff.689ec","9ab26c07.d04df"]]},{"id":"72a146b5.baa848","type":"switch","z":"bffdb954.167598","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"origin","vt":"str"},{"t":"cont","v":"hololens","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":267.5,"y":216,"wires":[["fbd6242e.93e618"],["36baae7f.031292"]],"outputLabels":["Origin Position","Hololens Position"]},{"id":"36baae7f.031292","type":"json","z":"bffdb954.167598","name":"","pretty":false,"x":390,"y":280,"wires":[["c9e03264.0c2da","9ab26c07.d04df","2e065877.d86a68"]]},{"id":"c5f7a3ff.689ec","type":"debug","z":"bffdb954.167598","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":610,"y":180,"wires":[]},{"id":"c9e03264.0c2da","type":"debug","z":"bffdb954.167598","name":"CONVERTED","active":true,"console":"false","complete":"payload","x":640,"y":240,"wires":[]},{"id":"563774a0.f7788c","type":"inject","z":"bffdb954.167598","name":"","topic":"","payload":"{\"MessageType\":\"position\",\"Description\":\"hololens\",\"x\":1,\"y\":2,\"z\":3}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"","x":90,"y":480,"wires":[["205e1af1.bf8f96"]]},{"id":"eef13ec9.52054","type":"json","z":"bffdb954.167598","name":"","property":"payload","action":"","pretty":false,"x":350,"y":580,"wires":[["85961410.17cb88","a20f66ea.97a748"]]},{"id":"85961410.17cb88","type":"debug","z":"bffdb954.167598","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":570,"y":580,"wires":[]},{"id":"205e1af1.bf8f96","type":"function","z":"bffdb954.167598","name":"Dummy Data","func":"var _new = msg.payload;\n\n//var _removedQuotes = _new.substring(1, _new.length-1);\n\nvar resetCoord = _new;\nresetCoord.x=Math.floor((Math.random() * 49) + 1);\nresetCoord.z=Math.floor((Math.random() * 29) + 1);\nmsg.payload = JSON.stringify(resetCoord);\n\n//msg.payload = _removedQuotes;\n\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":580,"wires":[["eef13ec9.52054"]]},{"id":"9ab26c07.d04df","type":"file","z":"bffdb954.167598","name":"Save","filename":"/Users/ginipease/Dropbox (Personal)/Hololens Web Interface/location-output.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":650,"y":80,"wires":[]},{"id":"2e065877.d86a68","type":"function","z":"bffdb954.167598","name":"Extract Position","func":"var originalMsg = msg.payload;\n\nvar xMsg = {payload: originalMsg.x};\nvar yMsg = {payload: originalMsg.y};\nvar zMsg = {payload: originalMsg.z};\n\n\n\nreturn [xMsg, yMsg, zMsg];","outputs":"3","noerr":0,"x":580,"y":380,"wires":[["f2155112.c0bb1","a31ca972.6018d8"],["98e5014d.b0034","c419d4a1.10c018"],["92f97e5a.06803","241d149.a08a2ec"]]},{"id":"a31ca972.6018d8","type":"debug","z":"bffdb954.167598","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":910,"y":320,"wires":[]},{"id":"c419d4a1.10c018","type":"debug","z":"bffdb954.167598","name":"","active":true,"console":"false","complete":"false","x":990,"y":400,"wires":[]},{"id":"241d149.a08a2ec","type":"debug","z":"bffdb954.167598","name":"","active":true,"console":"false","complete":"false","x":930,"y":440,"wires":[]},{"id":"f2155112.c0bb1","type":"ui_chart","z":"bffdb954.167598","name":"","group":"6e7ca9a1.306528","order":0,"width":"4","height":"6","label":"X","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":750,"y":300,"wires":[[],[]]},{"id":"98e5014d.b0034","type":"ui_chart","z":"bffdb954.167598","name":"","group":"6e7ca9a1.306528","order":0,"width":"4","height":"6","label":"Y","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":810,"y":360,"wires":[[],[]]},{"id":"92f97e5a.06803","type":"ui_chart","z":"bffdb954.167598","name":"","group":"6e7ca9a1.306528","order":0,"width":"4","height":"6","label":"Z","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":770,"y":460,"wires":[[],[]]},{"id":"f5532c31.6bedc","type":"template","z":"bffdb954.167598","name":"Web Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n\t<meta charset=utf-8>\n\t<title>S2S Business Overview</title>\n\t<!--Body background image is not supported in HTML5 using CSS instead -->\n\t<!-- Bootstrap -->\n\t<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js\"></script>\n\t<script src=\"js/bootstrap.min.js\"></script>\n\t<link href=\"css/additionalStyle.css\" rel=\"stylesheet\">\n\t<link href=\"css/bootstrap.min.css\" rel=\"stylesheet\">\n\t<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->\n</head>\n<body>\n\t<script src=\"js/s2s_mqtt.js\"></script>\n\t<script src=\"js/mqttws/mqttws31.js\"></script>\n\t<div class=\"introContainer\">\n\t\t<h1>EIIS Lab Tracking System </h1>\n\t\t<p class=\"introText\"> Target requested (<span id=\"printx\"></span>m, <span id=\"printy\"></span>m)</p>\n\t\t<p id=\"printlocation\"></p>\n\t</div>\n\t<div class=\"row\">\n\t\t<div class = \"col-lg-10\" padding=\"100\">\n\n            <svg id=\"svgBox\" width=\"500\" height=\"300\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 500 300\" style=\"border: 1px solid black;\" >\n                <g>\n                    <rect id=\"canvas\" x=\"0\" y=\"0\" width=\"500\" height=\"300\" fill=\"white\"/>\n                </g>\n            </svg>      \n        </div>\n\t</div>\n\t<div class=\"row\">\n\t\t</div>\n\t<script>\n\t\tdocument.getElementById(\"printx\").innerHTML = 0;\n\t\tdocument.getElementById(\"printy\").innerHTML = 0;\n\n\t\tclient = new Messaging.Client(\"localhost\", Number(\"8000\"), \"clientId\");\n\t\tclient.onConnectionLost = onConnectionLost;\n\t\tclient.onMessageArrived = onMessageArrived;\n\t\tclient.connect({\n\t\t\tonSuccess: onConnect\n\t\t});\n\n\t\tfunction onConnectionLost(responseObject) {\n\t\t\tif (responseObject.errorCode !== 0)\n\t\t\t\tconsole.log(\"onConnectionLost:\" + responseObject.errorMessage);\n\t\t};\n\n\t\tfunction onMessageArrived(message) {\n\t\t\tconsole.log(\"onMessageArrived:\" + message.payloadString);\n\t\t\ttry {\n\t\t\t\tvar positionObject = JSON.parse(message.payloadString);\n\t\t\t\tif (positionObject.Description === \"hololens\") {\n\t\t\t\t\tmoveLine(positionObject.x, positionObject.z);\n\t\t\t\t}\n\t\t\t} catch (e) {\n  \t\t\t\t//console.log(error);\n\n\t\t\t} finally {\n\n\t\t\t}\n\t\t\t//client.disconnect();\n\t\t};\n\n\t\tfunction onConnect() {\n\t\t\t// Once a connection has been made, make a subscription and send a message.\n\t\t\tconsole.log(\"onConnect\");\n\t\t\tclient.subscribe(\"hololens1/output/#\");\n\t\t\t//message = new Messaging.Message(\"Hello\");\n\t\t\t//message.destinationName = \"output/\";\n\t\t\t//client.send(message);\n\t\t};\n\n\t\tfunction publishTarget(x,y,d) {\n\t\t\t// Once a connection has been made, make a subscription and send a message.\n\t\t\tclient.subscribe(\"hololens1/input/\");\n   \t\t \toutputmessage = new Messaging.Message(\"{\\\"x\\\":\" + x.toFixed(2) + \", \\\"z\\\":\" + y.toFixed(2) + \", \\\"d\\\":\" + d.toFixed(2) + \"}\");\n\t\t\toutputmessage.destinationName = \"hololens1/input/\";\n\t\t\tclient.send(outputmessage);\n\n\t\t};\n\n\t\tvar svg = document.getElementById(\"svgBox\");\n\t\tvar rect = svg.getElementById(\"canvas\");\n\t\tvar pt = svg.createSVGPoint();\n\t\tvar roomOriginX = 0;\n\t\tvar roomOriginY = 0;\n\t\t// MARK ORIGIN at 0,0\n\t\tcreateDot(roomOriginX+2,roomOriginY+3, 3,'red');\n\t\tsvg.addEventListener(\"mousedown\", alert_click, false);\n\n\t\tfunction moveLine(x, y) {\n\t\t\tcreateDot((roomOriginX + (x * 10)),(roomOriginY + (y * 10)), 3, 'black');\n\t\t};\n\n\t\tfunction alert_click(evt) {\n    \t\tvar cursorpt = cursorPoint(evt, canvas);\n   \t\t \t//console.log(\"(\" + cursorpt.x + \", \" + cursorpt.y + \")\");\n   \t\t \t//alert(\"(\" + cursorpt.x + \", \" + cursorpt.y + \")\");\n   \t\t \tdx = cursorpt.x-roomOriginX;\n   \t\t \tdy = cursorpt.y-roomOriginY;\n\n   \t\t \tdistance = Math.sqrt((dx*dx)+(dy*dy));\n\n   \t\t \t// PRINT AND SEND CLICK LOCATION POINTS\n\t\t\tdocument.getElementById(\"printx\").innerHTML = cursorpt.x.toFixed(2);\n\t\t\tdocument.getElementById(\"printy\").innerHTML = cursorpt.y.toFixed(2);\n\t\t\tpublishTarget(cursorpt.x,cursorpt.y,distance)\n\t\t};\n\n    \t// OUTPUT CLICK LOCATION POINTS\n\t\tfunction cursorPoint(evt, element) {\n   \t\t\tpt.x = evt.clientX; \n    \t\tpt.y = evt.clientY;\n    \t\tif (element === null)\n        \t\treturn pt.matrixTransform(svg.getScreenCTM().inverse());\n    \t\telse\n        \t\treturn pt.matrixTransform(element.getScreenCTM().inverse());\n\t\t};\n\n\n    \t// RENDER DOTS FOR LOCATION\n\t\tfunction createDot(x, y, rad, color) {\n        \tvar circle= makeSVG('circle', {cx: x, cy: y, r:rad, fill: color});\n        \tdocument.getElementById('svgBox').appendChild(circle);\n\t\t};\n\n        function makeSVG(tag, attrs) {\n            var el= document.createElementNS('http://www.w3.org/2000/svg', tag);\n            for (var k in attrs)\n                el.setAttribute(k, attrs[k]);\n            return el;\n        }\n\t</script>\n\n\n\n\n</body>\n\n</html>\n","output":"str","x":170,"y":700,"wires":[[]]},{"id":"d335dc99.dab47","type":"mqtt-broker","z":"","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"6e7ca9a1.306528","type":"ui_group","z":"bffdb954.167598","name":"Hololens_Position","tab":"d2ee1eb3.b5f43","disp":true,"width":"12","collapse":false},{"id":"d2ee1eb3.b5f43","type":"ui_tab","z":"bffdb954.167598","name":"Position","icon":"dashboard"}]